@import "../../../assets/styles/mq.css";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  gap: var(--size-f-03);
  align-items: center;
  width: 100%;
  height: var(--height-header);
  padding: var(--size-f-01) var(--size-f-03);
  background-color: var(--white);
  border-bottom: solid 1px var(--grey-200);
}

@media (--viewport-over-desktop) {
  .header {
    padding: var(--size-f-01) var(--size-f-04);
  }
}
