.button {
  width: auto;
  padding: 0 1em;
  font: var(--button-text);
  cursor: pointer;
  border: none;

  &.full_width {
    width: 100%;
  }

  &.primary {
    color: var(--white);
    background-color: var(--color-button-normal);

    &:hover {
      text-decoration: underline;
      background-color: var(--color-button-hover);
    }

    &:active {
      background-color: var(--color-button-active);
    }

    &:focus {
      outline: solid var(--color-border-focused);
      outline-offset: var(--radius-xs);
    }

    &:disabled {
      color: var(--grey-300); /* セマンティックカラー未定義 */
      pointer-events: none;
      background-color: var(--color-button-disabled);
    }
  }

  &.secondary {
    box-sizing: border-box;
    color: var(--color-button-normal);
    background-color: var(--white);
    border: 1px solid var(--color-button-normal);

    &:hover {
      color: var(--color-button-hover);
      text-decoration: underline;
      background-color: var(--color-button-hover-dark);
      border-color: var(--color-button-hover);
    }

    &:active {
      background-color: var(--color-button-active-dark);
    }

    &:focus {
      outline: solid var(--color-border-focused);
      outline-offset: var(--radius-xs);
    }

    &:disabled {
      color: var(--color-disabled-text);
      pointer-events: none;
      border-color: var(--color-button-disabled);
    }
  }

  &.tertiary {
    box-sizing: border-box;
    color: var(--color-button-normal);
    text-decoration: underline;
    background-color: inherit;

    &:hover {
      color: var(--color-button-hover);
      background-color: var(--color-button-hover-dark);
    }

    &:active {
      background-color: var(--color-button-active-dark);
    }

    &:focus {
      outline: solid var(--color-border-focused);
      outline-offset: var(--radius-xs);
    }

    &:disabled {
      color: var(--color-disabled-text);
      pointer-events: none;
    }
  }

  &.l {
    min-width: 136px;
    height: 56px;
    border-radius: var(--radius-m);
  }

  &.m {
    min-width: 96px;
    height: 48px;
    border-radius: var(--radius-m);
  }

  &.s {
    min-width: 80px;
    height: 36px;
    border-radius: var(--radius-s);
  }

  &.xs {
    min-width: 72px;
    height: 28px;
    font: normal bold 14px/1.5 sans-serif;
    border-radius: var(--radius-s);
  }
}

.button__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: var(--height-min-button);

  /* .wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  width: auto;
  padding: 0 1em;
  font: var(--button-text);
  border: none;

  &.full_width {
    width: 100%;
  }

  &.primary {
    color: var(--white);
    background-color: var(--color-button-normal);

    &:hover {
      text-decoration: underline;
      background-color: var(--color-button-hover);
    }

    &:active {
      background-color: var(--color-button-active);
    }

    &:focus {
      outline: solid var(--color-border-focused);
      outline-offset: var(--radius-xs);
    }

    &:disabled {
      color: var(--grey-300); 
      pointer-events: none;
      background-color: var(--color-button-disabled);
    }
  }

  &.secondary {
    box-sizing: border-box;
    color: var(--color-button-normal);
    background-color: var(--white);
    border: 1px solid var(--color-button-normal);

    &:hover {
      color: var(--color-button-hover);
      text-decoration: underline;
      background-color: var(--color-button-hover-dark);
      border-color: var(--color-button-hover);
    }

    &:active {
      background-color: var(--color-button-active-dark);
    }

    &:focus {
      outline: solid var(--color-border-focused);
      outline-offset: var(--radius-xs);
    }

    &:disabled {
      color: var(--color-disabled-text);
      pointer-events: none;
      border-color: var(--color-button-disabled);
    }
  }

  &.tertiary {
    box-sizing: border-box;
    color: var(--color-button-normal);
    text-decoration: underline;
    background-color: inherit;

    &:hover {
      color: var(--color-button-hover);
      background-color: var(--color-button-hover-dark);
    }

    &:active {
      background-color: var(--color-button-active-dark);
    }

    &:focus {
      outline: solid var(--color-border-focused);
      outline-offset: var(--radius-xs);
    }

    &:disabled {
      color: var(--color-disabled-text);
      pointer-events: none;
    }
  }

  &.l {
    min-width: 136px;
    height: 56px;
    border-radius: var(--radius-m);
  }

  &.m {
    min-width: 96px;
    height: 48px;
    border-radius: var(--radius-m);
  }

  &.s {
    min-width: 80px;
    height: 36px;
    border-radius: var(--radius-m);
  }

  &.xs {
    min-width: 72px;
    height: 28px;
    font: normal bold 14px/1.5 sans-serif;
    border-radius: var(--radius-m);
  }
}

.error {
  color: var(--color-alert-text);
} */
}
