@import "../../../../../../assets/styles/mq.css";

.menu__first__layer {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--height-header));
  background-color: var(--color-secondary);
}

.menu__first__layer__top,
.menu__first__layer__bottom {
  position: relative;
  z-index: 20;
  overflow: scroll;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */

  &::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }

  & > li {
    width: 15em;
    line-height: 8vh;
    color: var(--color-primary-contrast-text);
    cursor: pointer;
    background-color: var(--color-secondary);
    transition: var(--transition-delay-default);

    > p,
    > a {
      display: block;
      padding: 0 var(--size-f-04);
      color: var(--color-primary-contrast-text);
      cursor: pointer;
    }

    &:hover {
      background-color: var(--color-primary);

      > p,
      > a {
        color: var(--color-primary-contrast-text);
      }
    }
  }
}
