@import "../../../assets/styles/mq.css";

.headline {
  font-weight: 700;
  letter-spacing: 0.04em;
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.tertiary {
  color: var(--color-tertiary);
}

.black {
  color: var(--color-base-text);
}

.xxs {
  margin: var(--size-f-03) 0 var(--size-f-02);
  font-size: 16px;
  line-height: 1.7;

  &.margin_none {
    margin: 0;
  }
}

.xs {
  margin: var(--size-f-04) 0 var(--size-f-02);
  font-size: 20px;
  line-height: 1.5;

  &.margin_none {
    margin: 0;
  }
}

.s {
  margin: var(--size-f-04) 0 var(--size-f-02);
  font-size: 24px;
  line-height: 1.5;

  &.margin_none {
    margin: 0;
  }
}

.m {
  margin: var(--size-f-04) 0 var(--size-f-03);
  font-size: 28px;
  line-height: 1.5;

  &.margin_none {
    margin: 0;
  }
}

.l {
  margin: var(--size-f-05) 0 var(--size-f-03);
  font-size: 32px;
  line-height: 1.5;

  &.margin_none {
    margin: 0;
  }
}

.xl {
  margin: var(--size-f-05) 0 var(--size-f-03);
  font-size: 45px;
  line-height: 1.4;

  &.margin_none {
    margin: 0;
  }
}

@media (--viewport-over-desktop) {
  .xxs {
    font-size: 20px;
    line-height: 1.5;
  }

  .xs {
    font-size: 24px;
    line-height: 1.5;
  }

  .s {
    font-size: 28px;
    line-height: 1.5;
  }

  .m {
    font-size: 32px;
    line-height: 1.5;
  }

  .l {
    font-size: 36px;
    line-height: 1.4;
  }
}
