@import "../../../../assets/styles/extend/large_section.css";

.large_section {
  @extend %large_section;

  & ul {
    display: flex;
    flex-direction: column;
    gap: var(--size-f-04);
  }
}

.image__container {
  display: flex;
  gap: var(--size-f-03);
  align-items: flex-end;
}

.image01 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(500px, 100%);
  aspect-ratio: 16/9;
  font-size: 32px;
  font-weight: 700;
  background-color: var(--grey-300);
}

.image02 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(350px, 100%);
  aspect-ratio: 3/2;
  font-size: 32px;
  font-weight: 700;
  background-color: var(--grey-300);
}

.image03 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(250px, 100%);
  aspect-ratio: 1/1;
  font-size: 32px;
  font-weight: 700;
  background-color: var(--grey-300);
}

.image04 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(150px, 100%);
  aspect-ratio: 1/1.414;
  font-size: 32px;
  font-weight: 700;
  background-color: var(--grey-300);
}

.image05 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(125px, 100%);
  aspect-ratio: 1/1.414;
  font-size: 32px;
  font-weight: 700;
  background-color: var(--grey-300);
}

.image06 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100px, 100%);
  aspect-ratio: 1/1.414;
  font-size: 32px;
  font-weight: 700;
  background-color: var(--grey-300);
}

.image07 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
  aspect-ratio: 234/60;
  font-size: 32px;
  font-weight: 700;
  background-color: var(--grey-300);
}
