.label {
  display: flex;
  gap: var(--size-f-01);
  align-items: center;

  &.disabled {
    color: var(--color-disabled-text);
  }
}

.label_text {
  font: var(--label-l);
}

.requirement {
  font: var(--text-m);
  color: var(--color-alert-text);
}
