@import "../../../assets/styles/mq.css";

.dl {
  padding: var(--size-f-02);
  margin-bottom: var(--size-f-02);
  border: solid var(--color-border-field);
}

.code_block,
.props_block {
  padding-bottom: var(--size-f-02);
  border-bottom: solid var(--color-border-divider);
}

@media (--viewport-over-desktop) {
  .dl {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    gap: var(--size-f-05);
    padding: var(--size-f-05);
    margin-bottom: var(--size-f-06);
  }

  .code_block {
    grid-column: 1 / 3;
    padding-bottom: var(--size-f-05);
  }

  .props_block {
    padding-right: var(--size-f-05);
    border-right: solid var(--color-border-divider);
    border-bottom: none;
  }
}
